
.backgroundImg{
  position:absolute;
  min-height: 100vh;
  width: 100%;
  object-fit: cover;
  animation: floatUp 1s ease-in forwards;
  z-index: -100;
}
.imgContainer{
  overflow: hidden;
  width: 100%;
  height: 100%;

}
.app{
  position:relative;
  color:white;
  display: flex;
  font-size: 4rem;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
  max-height: 100vh;
  flex-direction: column;
  overflow: hidden;
}
.welcome{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  animation: appear 1s ease-in forwards;
  animation-delay: 1s;
  opacity:0;
  position: relative;
}
.homeIco:hover{
  transform: scale(1.2);
  transition:all 300ms ease-in-out;
}
.title-cont{
  position:relative;
  overflow: hidden;

}
.title{
  position: relative;
}
.title::after{
  position: absolute;
  top:200px;
  transform-origin: 'bottom';
  content:"Home.";
  left: 0;
  width: 4rem;
  aspect-ratio: 1/1;
}
.change{
  animation: change 300ms ease forwards;
}

.leave{
  animation: change 300ms ease reverse;
  
}
.toggleApi{
  position:absolute;
  bottom:10px;
  right:10px;
  font-size:1rem;
  display:flex;
  align-items: center;
  gap: 10px;
}

@keyframes change {
  from{
    transform:translateY(0)
  }
  to{
    transform: translateY(-200px);
  }
}


@keyframes floatUp {
  from{
      transform:scale(1);
      filter:blur(0)
  }
  to{
      transform:scale(1.2);
      filter:blur(3px)
  }
}
@keyframes appear {
  from{
    transform:translateY(20px);
    opacity:0;
  }
  to{
    transform:translateY(0px);
    opacity:1;
  }
}