.difficultyGraph{
    height: 120%;
    background:inherit;
    display:flex;
    align-items: flex-end;
    justify-content: center;
    gap:.3rem;
    position: relative;
}
.difficultyGraph img{
    width: 100%;
}
.hideBar{
    position: absolute;
    height: 100%;
    background: inherit;
    top:0;
    right: 0;
    z-index: 20;
}