.pagination{
    height: 100%;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
    position: relative;
}

.contentWrapper{
    display: grid;
    gap:1rem;
    margin: 0 1rem;
    grid-template-columns: repeat(5,minmax(200px,1fr));
    justify-content: center;
    align-items: center;
    align-content: center;
    
    
}
.contentWrapper span{
    position: absolute;
    height: 100%;
    width: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: .5s ease;
    z-index: 200;
}
.contentWrapper span::after{
    transition: .5s ease;
    z-index: -100;
    position:absolute;
    top:0;
    content:"";
    width: 100%;
    height: 100%;
  
    opacity: 0;
}
.contentWrapper span:hover:after{
    opacity: 1;
}
.next::after{
    background:linear-gradient(90deg,transparent,black);
}
.prev::after{
    background:linear-gradient(270deg,transparent,black);
    
}
.next{
    top:0;
    right:-1rem;
}
.prev{
    left: -1rem;
}
.prev img{
    transform: rotateZ(180deg);
}
.disabled{
    opacity: 0;
    pointer-events: none;
}
.pageIndex{
    align-self: center;
    display: flex;
    gap:5px;
    align-items: center;
    justify-content: center;
    width: 60%;
    height: 50px;
}
.index{
    width: 40px;
    aspect-ratio: 8/1;
    background-color: #111;
    border-radius: 50vh;
    cursor: pointer;
    transition: .3s ;
}
.active{
    background-color: #BBB;
}
.swipeLeft{
    width:100%;
    height: 3rem;
    background:linear-gradient(transparent,black,black);
    position: sticky;
    z-index: 50000;
    bottom: 0;
    left:0;
    color:white;
    text-align: center;
}
.swipeLeft .swipeContent{
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    animation: bounce .5s ease-in-out infinite;
    animation-direction: alternate;
}
.swipeLeft img{
    transform: rotateZ(180deg);

}
@keyframes bounce{
    from{
        transform: scale(1.1);
    }
}

@media (max-width:1000px) {
   .contentWrapper{
        grid-template-columns: 1fr;
        gap:0;
        margin:0;
   }
   .contentWrapper span{
       display: none;
   }
   
}