.alert{
    position: fixed;
    top:0;
    left:0;
    width: 100vw;
    height: 100vh;
    backdrop-filter: blur(3px);
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0,0,0,.4);
    z-index: 2000000;
}
.alert .box{
    border-radius: 5px;
    width: fit-content;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #333;
    padding: 2rem;
    flex-direction: column;
    
}
.alertButtons{
    display: flex;
    font-size: .8em;
}
.warningType{
    background-color: darkred !important;
}
.infoType{
    background-color: darkcyan !important;
}
.cerrarAlert{
    align-self: flex-end;
    justify-self: baseline;
    color:black;
}