.button{
    padding:.8rem;
    margin:.5rem;
    font-size: 1.2em;
    border-radius: 5px;
    border:none;
    color:white;
    cursor:pointer;
    transition: .3s;
}
.button:hover{
    filter:saturate(1.9);
    transform:scale(1.03)
}