.activityWrap{
    position: relative;
    perspective: 800;
    max-height: 300px;
    max-width: 300px;
    -webkit-perspective: 800;
    
}

.activityCard {
    height: 200px;
    transform-style: preserve-3d ;
    transition: .7s ease;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.activityWrap:hover .activityCard{
    transform: rotateY(180deg);
}
.activityCard h1{
    position: absolute;
    z-index: 200;
}

.activityCard img{
    
    width: 100%;
    height: 100%;
    filter:brightness(.5)
}
.infoActivityBack{
    position:absolute;
    color:black;
    transform: rotateY(180deg);
    background-color: white;
    flex-direction: column;
    gap:.2rem;
}
.infoActivityBack, .infoActivityFront{
    object-fit: cover;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    user-select: none;
    cursor: default;
}

