.opt{
    padding: .5rem;
    background-color:teal;
    width: fit-content;
    border-radius: 50vh;
    box-shadow: 3px 3px 10px black;
    transition: .3s;
    cursor:pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}
.opt:hover{
    background-color: darkred;
    box-shadow: inset 0 0 10px black;

}
.optsWrapper{
    flex-wrap: wrap;
    background-color: #666;
    top:-5px;
    position: relative;
    z-index: 2;
    padding: 20px 0px 10px 10px;
    display:flex;
    gap:5px;
    border-radius: 0 0 20px 20px;
}
.options{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.options input{
    width: 100%;
    z-index: 10;
}