.home{
    display: flex;
    height: 100vh;
    flex-direction: column;
    position: relative;
}
.contentHome{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}
body{
    background-image: url('./assets/background.jpg');
    backdrop-filter: blur(2px);
}

@media (max-width:1000px){
    .contentHome{
        height: auto;
    }
}